{% extends 'ag_menu.html.twig' %}

{% block menu %}
<li class="treeview {% if option is defined and (option == 'webinar_list' or option == 'webinar_create' or option == 'webinar_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>webinar</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'webinar_list' %}class="active"{% endif %}><a href="{{ path('webinar_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'webinar_create' %}class="active"{% endif %}><a href="{{ path('webinar_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'chat_list' or option == 'chat_create' or option == 'chat_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>chat</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'chat_list' %}class="active"{% endif %}><a href="{{ path('chat_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'chat_create' %}class="active"{% endif %}><a href="{{ path('chat_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'register_list' or option == 'register_create' or option == 'register_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>register</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'register_list' %}class="active"{% endif %}><a href="{{ path('register_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
       <!-- <li {% if option is defined and option == 'register_create' %}class="active"{% endif %}><a href="{{ path('register_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>-->
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'schedule_list' or option == 'schedule_create' or option == 'schedule_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>schedule</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'schedule_list' %}class="active"{% endif %}><a href="{{ path('schedule_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'schedule_create' %}class="active"{% endif %}><a href="{{ path('schedule_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'testimonial_list' or option == 'testimonial_create' or option == 'testimonial_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>testimonial</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'testimonial_list' %}class="active"{% endif %}><a href="{{ path('testimonial_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'testimonial_create' %}class="active"{% endif %}><a href="{{ path('testimonial_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>





{% endblock %}